
/* .region-card-container{
    padding: 5px 10px 5px 10px;
    display: inline-flexbox;
    flex-direction: row;

}
.region-card{
    padding: 5px 10px 5px 10px;
    

}
.region-card-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
.region-card-title{
    text-align: center;
    font-weight: 600;
} */

.product-main .region-name{
    justify-content: center;
    align-items: center;
}



/* craft01 csss */

.craft-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 20px;
}
.craft-con p{
    font-weight: 600;
    font-size: 20px;
}

.product-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    gap: 8px;
}
.product-card{
    display: flex;
    gap: 15px;
}
.product-image img{
    /* height: 200px; */
}
.product-card .product-dtl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.product-card .product-dtl .product-ttl p{
    font-size: 15px;
    font-weight: 400;
}
.product-card .product-dtl button{
    background-color: green;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 2px;
    
}